.chartStandardInner {
  position: relative;
  padding-bottom: 27px;
  padding-top: 10px;
}

.chartStandardTitle {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  overflow: auto;
  max-height: 26px;
  padding: 4px;
}

.chartStandardBlock {
  width: 80px;
  background-color: var(--main-neutral--100);
  background-image: url("../../assets/lines.svg");
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chartStandardBlock.blue {
  background-color: var(--accent-blue-color--100);
}

.chartStandardBlock.pink {
  background-color: var(--accent-pink-color--100);
}

.chartStandardBlock.purple {
  background-color: var(--accent-purple-color--100);
}

.chartStandardEmblem {
  background-color: var(--main-light--100);
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 5px;
}