.chartSingleBlock {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-neutral--100);
  color: var(--main-light--100);
  font-weight: bold;
}

.chartSingleBlock.pink {
  background-color: var(--accent-pink-color--100);
}

.chartSingleBlock.purple {
  background-color: var(--accent-purple-color--100);
}

.chartSingleBlock.blue {
  background-color: var(--accent-blue-color--100);
}