  .emblem {
    display: inline-block;
    padding: 4px 8px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--main-neutral--100);
    color: var(--main-light--100);
    border-radius: 50px;
    font-size: 14px;
  }

  .emblem.red {
    background-color: var(--decrease--100);
  }
  .emblem.green {
    background-color: var(--increase--100);
  }
  .emblem.purple {
    background-color: var(--accent-server-color--100);
  }
  .emblem.blue {
    background-color: var(--accent-client-color--100);
  }
  .emblem.pink {
    background-color: var(--accent-database-color--100);
  }